
body {
    padding: 60px;
}

table {
    border: 1px solid black;
    margin: 30px;
}

td {
    width: 30px;
    height: 30px;
    color: whitesmoke;
    border: 1px solid black;
}

.black {
    background-color: black;
}